* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

.h1 {
    margin-left: 20px;
    margin-top: 10px;
}

.h2 {
    margin-left: 40px;
}



.tabla {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 60vh;
    background: #f5f4f4;
    margin: 20px;
    border-radius: 5px;
    overflow-y: auto;
}

table {
    width: 100%;
    text-align: center;
}

th {
    padding: .5rem;
    border-bottom: 1px solid #b9b8b8;
    background-color: #2e48f3;
    color: white;
}

.componentes td {
    border: 1px solid #b9b8b8;
    padding: .5rem;
}

.formulario {
    display: none;
    background: #21212166;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.popup {
    margin: 3rem;
    padding: .5rem;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 2rem;

}

.lista {
    width: 30%;
    background-color: #FFFFFF;
    list-style: none;
    width: 50%;
}

.list-title {
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

form {
    width: 50%;
    padding: 1rem;
}


input[type=text],
input[type=email],
.equipo {
    width: 100%;
    border-radius: 2px;
    border: 0;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #f5f4f4;
    margin-bottom: 2.25em;
}

.cerrar {
    width: 80px;
    margin-left: auto;
}

.confirmar {
    width: 200px;
    margin-left: auto;
}

.add {
    justify-content: flex-end;
    width: 200px;
    margin-top: 1.25rem;
}

.crear {
    margin-left: 20px;
    margin-top: 5px;
}

.btn,
.add {
    border: 1px solid white;
    padding: 15px;
    color: white;
    background-color: #2e48f3;
    border-radius: 5px;

}

.btn:hover,
.add:hover,
.borrar {
    border: none;
    padding: 15px;
    color: black;
    background-color: #ebeeff;
    border: 1px solid black;
    border: 1px solid white;
}

.borrar:hover {
    color: white;
    background-color: #f32e2e;
}

.rol {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    margin-top: 2rem;
}

.caja {
    background: #f5f4f4;
    border-radius: 5px;
    width: 15%;
    padding: 1rem;
}

.cantidad,
.roles {
    text-align: center;
}

.roles {
    font-size: 1em;
}

.cantidad {
    font-size: 3rem;
}

.pokemon:hover {
    background-color: #43945e;
    color: white;
}